<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechSensee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArticlesApp.styles.css" asp-append-version="true" />

    <!-- se include summernote css -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
              

                <a class="navbar-brand text-white fw-bold"
                   style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.30rem;
                letter-spacing: 0.0625rem;
                transition: color 0.3s ease-in-out;"
                   asp-area="" asp-controller="Products" asp-action="Index">
                    TechSensee
                </a>

                <button class="navbar-toggler font-logo" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-box"></i> Products
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="New" class="btn btn-outline-light me-2">
                                    <i class="bi bi-plus-square"></i> New Product
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="PendingProducts" class="btn btn-outline-light me-2">
                                    <i class="bi bi-hourglass-split"></i> Pending Products
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="PendingEdits" class="btn btn-outline-light me-2">
                                    <i class="bi bi-hourglass-split"></i> Pending Product Edits
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="PendingDeletions" class="btn btn-outline-light me-2">
                                    <i class="bi bi-hourglass-split"></i> Pending Product Deletions
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-tags"></i> Categories
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Carts" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-cart"></i> Carts
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Orders" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-receipt"></i> Orders
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Users" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-person-circle"></i> Users
                                </a>
                            </div>

                        }
                        else if (User.IsInRole("Editor"))
                        {
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-box"></i> Products
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="New" class="btn btn-outline-light me-2">
                                    <i class="bi bi-plus-square"></i> New Product
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-tags"></i> Categories
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-box"></i> Products
                                </a>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-light me-2">
                                    <i class="bi bi-tags"></i> Categories
                                </a>
                            </div>
                        }
                        


                    </ul>

                    @if (User.IsInRole("Admin") || User.IsInRole("Editor") || User.IsInRole("User"))
                    {
                    <div class="d-flex justify-content-end align-items-center">
                        <a asp-controller="Orders" asp-action="ShowOrderHistory" class="btn btn-outline-light me-2">
                            <i class="bi bi-clock-history"></i> Order History
                        </a>
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                        <a asp-controller="Carts" asp-action="ShowByUser" class="btn btn-outline-light me-2 d-flex align-items-center">
                            <i class="bi bi-cart"></i>&nbspCart
                        </a>

                    </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer footer-position">
            &copy; 2024 -&nbsp;<a href="#" style="text-decoration: none;">TechSensee</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- se include summernote js -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>