html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 3px 8px #636e72 !important;
}


.navbar {
    background-color: #f2f2f2 !important;
    background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)) !important;
    border: none !important;
    box-shadow: 0 3px 8px #636e72 !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;
    transition: color 0.2s ease-in-out;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: black !important;
}

.darker-white {
    background-color: #f2f2f2; 
    color: #343a40; 
}

.btn-primary {
    background-color: rgba(37, 117, 252, 0.9) !important; 
    border-color: rgba(37, 117, 252, 0.9) !important; 
    color: white !important; 
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: rgba(106, 17, 203, 0.9) !important; 
    border-color: rgba(106, 17, 203, 0.9) !important;
}

.last-review {
    margin-bottom: 0 !important;
}
