@model OnlineShop.Models.Category


@{
    ViewBag.Title = "Edit the Category";
}

<br />
<h2>Edit Category - @Model.CategoryName</h2>
<br />
<form asp-action="Edit" asp-controller="Categories" method="post">

    <div class="form-group">
        <label asp-for="CategoryName" class="form-label">Category name</label>
        <br />
        <input asp-for="CategoryName" class="form-control" placeholder="Enter category name" />
        @* <span asp-validation-for="CategoryName" class="text-danger"></span> *@
    </div>

    <br /><br />
    <button class="btn btn-primary" type="submit">Edit the category</button>
    <br />
    <br />
</form>


