@model OnlineShop.Models.Category


@{
    ViewBag.Title = "Add a Category";
}

<br />
<h2>Add a Category</h2>
<br />

<form asp-action="New" asp-controller="Categories" method="post">

    <div class="form-group">
        <label asp-for="CategoryName" class="form-label">Category name</label>
        <br />
        <input asp-for="CategoryName" class="form-control" placeholder="Enter a category name" />
        @* <span asp-validation-for="CategoryName" class="text-danger"></span> *@
    </div>

    <br /><br />
    <button class="btn btn-primary" type="submit">Add category</button>
</form>


